<%- include('header'); -%> 
<div class="content"> 
    <table id = "catalog">
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>email</th>
        </tr>
        <tr>
          <td>Nasvin</td>
          <td>Dubai</td>
          <td>0389438493</td>
          <td> Nasvin@gmail.com</td>
        </tr>
        <tr>
          <td>Dhruv</td>
          <td>Dubai</td>
          <td>048938430</td>
          <td>dhruv@gmail.com</td>
        </tr>
        <tr>
            <td>Sai</td>
            <td>Sharjah</td>
            <td>0448933</td>
            <td>sai@gmail.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>